.music-container{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.music-header-container{
    display: flex;
    margin-left: 2vw;
}

.music-header{
    font-size: 4vh;
    opacity: 1;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.music-input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.music-top-header{
    font-size: 4vmin;
}

.dropdown{
    outline: none;
    border:none;
    color: white;
    background-color: #1DB954;
    margin: .5vw;
    height: 5vh;
    width: 20vmin;
    font-size: 3vmin;
    -webkit-appearance: none;
    opacity: .7;
    transition: .2s;
    box-shadow: 0 5px 10px rgba(30, 215, 96, .4);
    text-align-last:center;
}

.dropdown:hover{
    opacity: 1;
}

.songs-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

.visible-false{
    opacity: 0;
    pointer-events: none;
    position: fixed;
}

.visible-true{
    background-color: black;
    color: white;
    font-size: 40px;
    opacity: 1;
    pointer-events: visible;
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .5;
}

.spinner{
    max-width: 150px;
    width: 15vw;
    font-size: 3vmin;
}