.modal-rectangle-detail{
    background-color: #2D332E;
    color: white;
    width: 70vmin;
    height: 15vmax;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.album-art-detail{
    border-radius: 50%;
    width: 20%;
    margin-top: 2vh;
}

.song-name-artist-detail{
    margin-top: 1vmin;
    font-size: 3vmin;
    white-space: nowrap;
}

.spotify-link{
    color: #1DB954;
}