.welcome-container{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.welcome-header-container{
    display: flex;
    margin-left: 2vw;
}

.welcome-header{
    font-size: 4vh;
    opacity: 1;
    font-family: Arial, Helvetica, sans-serif;
}

.welcome-paragraph{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vmax;
    margin-top: 0vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.moving-text{
    margin-bottom: 1vh;
    font-size: 4.5vmin;
}

.header-sub{
    animation: fadeInSlow ease 2s;
}

.welcome-button{
    border-radius: 20px;
    width: 15vmax;
    height: 4vmax;
    background-color: #1DB954;
    box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
    color: white;
    border: none;
    outline: none;
    font-size: 1.6vmax;
    transition: .3s;
    animation: fadeInSlow ease 2s;
    margin-top: 2vh;
}

.welcome-button:hover{
    width: 19vmax;
}

.otherinfo-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vmin;
    color: white;
}

.image{
    width: 80vmin;
    min-width: 66vw;
    border-radius: 20px;
}

.image2{
    width: 60%;
    min-width: 66vw;
    border-radius: 20px;
}

.main-div{
    margin-bottom: 6vh;
}

.ipad{
    width: 25%;
}

.welcome-para-text{
    font-size: 2vmax;
    margin-bottom: 0vh;
}

.welcome-para-subtext{
    font-size: 1.5vmax;
    margin-bottom: 2vh;
    color: rgba(255, 255, 255, 0.6);
    width: 90%;
}

.other-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
}

.ipad-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 6vh;
}

.vert-flex{
    display: flex;
    flex-direction: column;
    width: 65vmin;
    display: flex;
    align-items: center;
}

.github-info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    opacity: .5;
    color: white;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

.creator{
    font-size: 12px;
    margin: 20px;
    color: white;
}

.git-logo{
    width: 30px;
    height: 30px;
}

/* Animations */

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:.9;}
    }

@keyframes fadeInSlow {
    0% {opacity:0;}
    75% {opacity:0;}
    100% {opacity:.9;}
    }

/* MOBILE */
@media(max-width:425px){
    .welcome-paragraph{
        margin-top: 25vh;
    }

    .otherinfo-container{
        margin-top: 15vh;
    }

    .main-div{
        overflow: hidden;
        width: 100%;
    }
    
    .main-image{
        position: relative;
        right: 40vw;
        width: 160vw;
    }

    .ipad{
        width: 30%;
    }

    .main-div{
        margin-bottom: 6vh;
    }

    .ipad-div{
        margin-bottom: 6vh;
    }

    .welcome-button{
        width: 20vmax;
        height: 5vmax;
    }

    .welcome-button:hover{
        width: 25vmax;
    }

    .image2{
        width: 90%;
    }

  }